# Combining Files

Note: get the data files here [https://data.gov.sg/dataset/resale-flat-prices](https://data.gov.sg/dataset/resale-flat-prices).

In [21]:
import pandas as pd
import os
import glob
import pathlib
from timeit import default_timer as timer

In [6]:
os.getcwd()

'C:\\Users\\Tobias Leong\\Code\\resale-price-analysis'

In [7]:
os.listdir('data')

['.ipynb_checkpoints',
 'resale-flat-prices-based-on-approval-date-1990-1999.csv',
 'resale-flat-prices-based-on-approval-date-2000-feb-2012.csv',
 'resale-flat-prices-based-on-registration-date-from-jan-2015-to-dec-2016.csv',
 'resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv',
 'resale-flat-prices-based-on-registration-date-from-mar-2012-to-dec-2014.csv']

In [8]:
glob.glob('data/*.csv')

['data\\resale-flat-prices-based-on-approval-date-1990-1999.csv',
 'data\\resale-flat-prices-based-on-approval-date-2000-feb-2012.csv',
 'data\\resale-flat-prices-based-on-registration-date-from-jan-2015-to-dec-2016.csv',
 'data\\resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv',
 'data\\resale-flat-prices-based-on-registration-date-from-mar-2012-to-dec-2014.csv']

In [9]:
df = pd.DataFrame()
for datafile in glob.glob('data/*.csv'):
    tmp_df = pd.read_csv(datafile)
    df = df.append(tmp_df)
print(f'Resulting dataframe of {df.shape} shape')

Resulting dataframe of (842065, 11) shape

In [28]:
# save df into file 
# overwrite if necessary
def write_file(path, override=True):
    if override:
        curr_path = pathlib.Path(path)
        if curr_path.is_file():
            print(f"Existing file found at {curr_path}, deleting...")
            os.remove(curr_path)
            print("Delete complete!")
    start = timer()
    df.to_csv(path, index=False)
    end = timer()
    print(f"File written at {curr_path} in {(end - start):.2f}s")

In [29]:
p = 'out/combined_df.csv'
write_file(p)

Existing file found at out\combined_df.csv, deleting...
Delete complete!
File written at out\combined_df.csv in 1.83s

# Analysis

In [32]:
df.head(5)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,NaN
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,NaN
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,NaN
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,NaN
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,NaN

In [33]:
df.columns

Index(['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range',
       'floor_area_sqm', 'flat_model', 'lease_commence_date', 'resale_price',
       'remaining_lease'],
      dtype='object')

In [34]:
df.isnull().sum()

month                       0
town                        0
flat_type                   0
block                       0
street_name                 0
storey_range                0
floor_area_sqm              0
flat_model                  0
lease_commence_date         0
resale_price                0
remaining_lease        709054
dtype: int64

Many `remaining_lease` are missing!

In [42]:
# create new column year 
def get_year_from_month_col(row):
    year = row['month'].split('-')[0]
    return year

In [43]:
df['year'] = df.apply(get_year_from_month_col, axis=1)

In [44]:
df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,year
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,NaN,1990
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,NaN,1990
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,NaN,1990
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,NaN,1990
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,NaN,1990
...,...,...,...,...,...,...,...,...,...,...,...,...
52198,2014-12,YISHUN,5 ROOM,816,YISHUN ST 81,10 TO 12,122.0,Improved,1988,580000.0,NaN,2014
52199,2014-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,10 TO 12,146.0,Maisonette,1988,540000.0,NaN,2014
52200,2014-12,YISHUN,EXECUTIVE,618,YISHUN RING RD,07 TO 09,164.0,Apartment,1992,738000.0,NaN,2014
52201,2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,07 TO 09,152.0,Maisonette,1985,592000.0,NaN,2014
52202,2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,04 TO 06,146.0,Maisonette,1985,545000.0,NaN,2014

In [48]:
# what is the average price per year?
df.groupby('year', as_index=False).resale_price.mean()

    year   resale_price
0   1990   68086.142263
1   1991   73588.938934
2   1992   84372.635731
3   1993  132807.719750
4   1994  172619.529936
5   1995  212122.103228
6   1996  279282.337753
7   1997  308213.918543
8   1998  257637.912164
9   1999  252301.345534
10  2000  258056.836334
11  2001  243469.599897
12  2002  234834.028451
13  2003  231343.007846
14  2004  235169.373214
15  2005  234165.107748
16  2006  236079.492805
17  2007  262276.608620
18  2008  317141.873409
19  2009  337913.305578
20  2010  379939.440065
21  2011  425382.297899
22  2012  461492.566306
23  2013  476441.007916
24  2014  442716.050032
25  2015  434709.557960
26  2016  438838.964559
27  2017  443888.520571
28  2018  441282.063703
29  2019  432137.912902
30  2020  452242.401333
31  2021  491550.328261

Hm, but this does not account for flat type. Let's alter the analysis to include this.

In [52]:
tmp_df = df.groupby(['year','flat_type'],
           as_index=False).resale_price.agg(['count','mean','std'])

In [53]:
# need this to display all rows
with pd.option_context('display.max_rows', None): 
  display(tmp_df)

                       count           mean            std
year flat_type
1990 1 ROOM               74    7890.540541    1222.412719
     2 ROOM              328   19571.097561    5889.986164
     3 ROOM             6992   42618.447941   11937.966834
     4 ROOM             3042   81765.902696   18265.041139
     5 ROOM             1636  132614.605746   28626.691026
     EXECUTIVE           433  186458.267898   26780.669542
1991 1 ROOM               51    8501.568627    1380.306303
     2 ROOM              233   21257.811159    6798.745505
     3 ROOM             6822   44479.893433   11499.105129
     4 ROOM             3405   81799.517474   20117.357584
     5 ROOM             1685  138102.878338   32421.508851
     EXECUTIVE           657  191166.849315   30184.763050
     MULTI GENERATION      2  165000.000000   21213.203436
1992 1 ROOM               49    9648.979592    2321.558604
     2 ROOM              288   22828.472222    7640.035830
     3 ROOM             7143   48173.884642   13963.040140
     4 ROOM             4144   90928.365347   25817.989947
     5 ROOM             2024  154383.896245   38429.557856
     EXECUTIVE           833  213970.979592   38699.504011
     MULTI GENERATION     22  226586.363636   52211.495682
1993 1 ROOM               52   17634.615385    7300.198349
     2 ROOM              353   35625.552408   11498.391923
     3 ROOM             7864   71018.616862   22651.569086
     4 ROOM             5430  134510.933517   37872.435685
     5 ROOM             2973  227253.050118   56251.022691
     EXECUTIVE          1394  296455.337877   54411.267763
     MULTI GENERATION     50  293700.000000   63951.272905
1994 1 ROOM               81   24824.691358    6018.794125
     2 ROOM              418   45405.502392    9042.971931
     3 ROOM            10968   94328.029085   20086.649204
     4 ROOM             8318  175071.872686   30138.963041
     5 ROOM             4579  284071.676130   45972.771239
     EXECUTIVE          1972  367723.477688   43561.971514
     MULTI GENERATION     37  398702.702703   65091.331077
1995 1 ROOM               79   37398.734177    7933.368245
     2 ROOM              439   59497.694761   10543.973350
     3 ROOM            10769  121297.863961   25087.146580
     4 ROOM             9598  216663.336216   39389.651920
     5 ROOM             4583  341553.173249   56487.158539
     EXECUTIVE          1794  443288.013378   59395.060127
     MULTI GENERATION     27  486585.185185   59196.801523
1996 1 ROOM              110   57417.272727   21764.864620
     2 ROOM              604   85941.847682   15407.707605
     3 ROOM            14549  173339.589250   36452.693359
     4 ROOM            12364  295949.042219   56760.750718
     5 ROOM             5069  441540.769185   68664.213228
     EXECUTIVE          2177  572772.335783   71151.083151
     MULTI GENERATION     46  606695.652174   83208.137841
1997 1 ROOM              112   72173.553571   20477.752355
     2 ROOM              511  108069.960861   15882.350014
     3 ROOM            10700  195114.824673   33472.765177
     4 ROOM            12450  304971.573414   47052.463936
     5 ROOM             5522  442181.538935   55575.350741
     EXECUTIVE          2427  567156.357643   54205.465668
     MULTI GENERATION     37  605918.918919   70209.360874
1998 1 ROOM               80   48706.250000    7940.292915
     2 ROOM              474   82706.782700   14476.648305
     3 ROOM            18143  154962.904867   26406.730444
     4 ROOM            18908  253756.264544   40699.407647
     5 ROOM             9071  373742.764304   48480.178439
     EXECUTIVE          4389  479759.779221   49218.771369
     MULTI GENERATION     30  516929.600000   61939.518848
1999 1 ROOM              139   50735.251799   12195.608994
     2 ROOM              492   77728.414634   14644.590290
     3 ROOM            19156  146116.696544   26875.066395
     4 ROOM            20862  243891.432796   40044.841178
     5 ROOM            11064  355042.219902   49621.323471
     EXECUTIVE          6045  447643.398180   49304.536883
     MULTI GENERATION     28  461607.142857   59016.845860
2000 1 ROOM               47   48500.000000    7010.054890
     2 ROOM              278   86397.661871   14071.904181
     3 ROOM            12423  157649.637669   28663.342053
     4 ROOM            13108  256722.845505   45325.497984
     5 ROOM             6455  375507.443650   58438.880167
     EXECUTIVE          2531  479088.629743   57158.659633
     MULTI-GENERATION     20  500050.000000   64846.153966
2001 1 ROOM               52   40334.615385    5576.346566
     2 ROOM              324   80914.537037   13539.501557
     3 ROOM            11633  145396.368769   29212.542068
     4 ROOM            15281  233900.200605   42428.232550
     5 ROOM             7832  340183.624745   56283.572235
     EXECUTIVE          2910  445524.241155   56622.011320
     MULTI-GENERATION     23  456665.217391   39697.671201
2002 1 ROOM               55   44427.272727    6346.053149
     2 ROOM              325   82158.203077   14070.597893
     3 ROOM            10731  144188.717175   30485.266905
     4 ROOM            14635  224250.829176   43229.028733
     5 ROOM             7692  324427.597135   56669.622872
     EXECUTIVE          2653  422225.577414   52584.840836
     MULTI-GENERATION      7  433185.714286   69539.016113
2003 1 ROOM               43   54306.976744    9128.823931
     2 ROOM              281   95792.875445   16883.440279
     3 ROOM             9935  159651.309298   30944.043080
     4 ROOM            11823  230132.421805   40894.549879
     5 ROOM             5255  322053.608310   53597.679876
     EXECUTIVE          1654  408602.881499   49777.558436
     MULTI-GENERATION     12  431333.333333   63809.850099
2004 1 ROOM               21   65204.761905    8651.039024
     2 ROOM              361  108307.473684   13166.270108
     3 ROOM            10366  174476.093552   29480.776994
     4 ROOM            11644  237591.398444   39384.528154
     5 ROOM             5139  315056.067865   50960.313655
     EXECUTIVE          1569  386484.342256   48095.268105
     MULTI-GENERATION     12  431833.333333   47811.815454
2005 1 ROOM               23   72195.652174   10032.604949
     2 ROOM              314  111717.401274   11799.843632
     3 ROOM             9863  170399.560353   26137.937728
     4 ROOM            11825  234486.325318   39079.853839
     5 ROOM             6113  303455.671847   48087.163738
     EXECUTIVE          1902  361812.153333   43714.846181
     MULTI-GENERATION      5  421600.000000   47857.078891
2006 1 ROOM               24   82575.000000    7689.645777
     2 ROOM              298  117662.315436   11482.784025
     3 ROOM             8743  166727.159327   27685.990983
     4 ROOM            10329  235505.966141   43273.995581
     5 ROOM             5983  303186.084740   51907.994989
     EXECUTIVE          2037  357635.275346   44008.071187
     MULTI-GENERATION     13  400384.615385   57675.151295
2007 1 ROOM               14   97550.000000   10386.140914
     2 ROOM              237  131988.506329   17085.666480
     3 ROOM             7642  181501.871112   37188.890219
     4 ROOM            10016  254604.292918   56453.160183
     5 ROOM             6722  327557.098762   73645.889748
     EXECUTIVE          2330  384763.417597   66493.220833
     MULTI-GENERATION     21  409952.380952   51959.095633
2008 1 ROOM               19  122473.684211   18388.910973
     2 ROOM              244  164125.770492   21158.557297
     3 ROOM             7670  226442.696334   44334.569239
     4 ROOM            10038  308748.222056   66776.628918
     5 ROOM             7147  389542.397370   86677.268036
     EXECUTIVE          2129  458551.158760   80044.756196
     MULTI-GENERATION     15  480200.000000   74482.212642
2009 1 ROOM               18  153544.444444    8254.782729
     2 ROOM              271  185225.649446   17602.993042
     3 ROOM             8453  250124.075553   45627.225365
     4 ROOM            11122  331897.902413   60383.748029
     5 ROOM             8238  403023.474472   73003.050423
     EXECUTIVE          2371  471082.144935   66075.637848
     MULTI-GENERATION      9  511444.444444   52941.267248
2010 1 ROOM               21  188476.190476   19192.756570
     2 ROOM              341  216972.551320   22790.603133
     3 ROOM             9914  288078.742171   49294.088833
     4 ROOM            12938  372573.710060   67639.483637
     5 ROOM             8705  454303.960326   87287.817140
     EXECUTIVE          2923  522055.911995   73275.403349
     MULTI-GENERATION     12  617240.666667   77325.793356
2011 1 ROOM               16  213750.000000   14096.098751
     2 ROOM              253  253864.158103   30251.942850
     3 ROOM             6374  325340.493078   49319.151595
     4 ROOM             8217  422734.915082   73797.214320
     5 ROOM             5606  501825.957792   90734.340535
     EXECUTIVE          1805  577825.998892   74481.001460
     MULTI-GENERATION     10  675000.000000   46147.107770
2012 1 ROOM               16  237062.500000   10669.075249
     2 ROOM              229  270296.681223   23662.532027
     3 ROOM             6434  351345.352017   48871.531833
     4 ROOM             8849  456295.239322   75957.481617
     5 ROOM             5589  542171.731172   92764.482426
     EXECUTIVE          2069  629253.378444   81731.885114
     MULTI-GENERATION     12  798166.666667  117733.777754
2013 1 ROOM                6  240083.333333   10081.749187
     2 ROOM              208  276696.894231   19011.760424
     3 ROOM             4813  361935.967677   52147.858562
     4 ROOM             6165  479260.563504   87060.101007
     5 ROOM             3576  568800.314877  106515.862703
     EXECUTIVE          1322  661299.886536   87598.598070
     MULTI-GENERATION      7  767126.857143   74314.435447
2014 1 ROOM               20  222225.000000   14161.172825
     2 ROOM              171  264179.461988   17192.159159
     3 ROOM             5039  341007.559966   53842.869159
     4 ROOM             6331  444921.024603   86254.663909
     5 ROOM             3468  536064.543253  110267.943696
     EXECUTIVE          1064  639124.451015   92800.308138
     MULTI-GENERATION      3  702000.000000   24331.050121
2015 1 ROOM                9  208111.111111   11061.695671
     2 ROOM              146  248025.013699   18865.139685
     3 ROOM             4983  324761.398531   58641.476147
     4 ROOM             7140  433627.376857  104565.227177
     5 ROOM             4150  515018.276839  123912.317933
     EXECUTIVE          1351  620677.216876  100005.036170
     MULTI-GENERATION      1  805000.000000            NaN
2016 1 ROOM                5  212600.000000    9016.651263
     2 ROOM              202  245904.594059   31619.405576
     3 ROOM             5038  322473.653212   62961.772121
     4 ROOM             8050  434478.632035  106301.133042
     5 ROOM             4585  522708.499839  135974.345273
     EXECUTIVE          1489  624047.553983  108384.124963
     MULTI-GENERATION      4  722750.000000   72394.175640
2017 1 ROOM                9  200888.888889   13986.104215
     2 ROOM              219  240354.219178   29594.704995
     3 ROOM             5047  317834.236156   69948.747158
     4 ROOM             8604  437119.995337  114519.806567
     5 ROOM             5002  532276.723239  149279.257398
     EXECUTIVE          1624  627211.265394  118286.991990
     MULTI-GENERATION      4  783750.000000  104831.213545
2018 1 ROOM                9  184111.111111   19186.221908
     2 ROOM              286  235763.398601   39993.490835
     3 ROOM             5119  306477.979879   71800.682628
     4 ROOM             8769  431752.935313  122691.870568
     5 ROOM             5487  527634.509933  154899.636223
     EXECUTIVE          1876  630780.133662  122272.359201
     MULTI-GENERATION     15  801392.533333   74524.123279
2019 1 ROOM               11  175842.545455    7617.027719
     2 ROOM              414  228534.125604   34926.345064
     3 ROOM             5423  299457.241933   72677.007666
     4 ROOM             9228  429748.880243  120753.194367
     5 ROOM             5427  526811.625922  147641.567661
     EXECUTIVE          1669  617561.229407  115877.245248
     MULTI-GENERATION     14  819190.285714   81750.864832
2020 1 ROOM               10  180000.000000   21076.579946
     2 ROOM              419  234022.527446   37177.222193
     3 ROOM             5387  312711.503991   81261.349030
     4 ROOM             9650  448586.225985  121640.728263
     5 ROOM             5985  541437.290854  140048.888537
     EXECUTIVE          1882  635394.958555  111723.298817
     MULTI-GENERATION      8  773125.000000   80175.588554
2021 1 ROOM                6  193333.333333   11057.425861
     2 ROOM              110  254337.163636   40333.968089
     3 ROOM             1788  335856.779642   79345.871134
     4 ROOM             3496  482810.650709  122973.520730
     5 ROOM             2208  586844.538949  144448.483325
     EXECUTIVE           647  684156.839073  118732.526396
     MULTI-GENERATION      6  790000.000000  114411.537880